@use "../abstract/variables" as var;

// Cards
.card {
  position: relative;
  border: 1px solid var.$foreground;
  border-radius: 3px;
  box-shadow: var.$shadow;

  .card-header {
    padding: 20px;
    border-bottom: 1px solid var.$foreground;
  }

  .card-body {
    padding: 20px;
  }

  .card-footer {
    padding: 20px;
    border-top: 1px solid var.$foreground;
  }
}
