@use "../abstract/variables" as var;

// Page Title
.page-title {
  h1 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 100%;
    color: var.$heading-clr;
  }
}
