@use "../abstract/variables" as var;

// Dropdown
.dropdown {
  position: relative;
  z-index: 2;

  .dropdown-menu {
    position: absolute;
    top: calc(100% + 100px);
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: var.$background;
    box-shadow: var.$shadow;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease all;
    border: 1px solid var.$foreground;
  }

  &.drop-start .dropdown-menu {
    left: 0;
    right: auto;
    transform: translateX(0);
  }

  &.drop-end .dropdown-menu {
    left: auto;
    right: 0;
    transform: translateX(0);
  }

  &.show .dropdown-menu {
    pointer-events: all;
    opacity: 1;
    top: calc(100% + 10px);
  }
}
